server:
  port: 8083

spring:
  application:
    name: personal-finance-manager
    description: Personal Finance Manager Application

  devtools:
    restart:
      enabled: true
      additional-paths: src/main/resources/static,src/main/resources/templates
      trigger-file: .reloadtrigger
    livereload:
      enabled: true
      port: 35729

  datasource:
    url: jdbc:mysql://localhost:3306/personal_finance_db?useSSL=false&serverTimezone=UTC
    username: ${DB_USER}
    password: ${DB_PASS}
    driver-class-name: com.mysql.cj.jdbc.Driver

    hikari:
      maximum-pool-size: 20
      minimum-idle: 5
      connection-timeout: 20000
      idle-timeout: 300000

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.MySQL8Dialect

  thymeleaf:
    cache: false
    mode: HTML
    encoding: UTF-8
    servlet:
      content-type: text/html

  ai:
    google:
      genai:
        api-key: ${GEMINI_API_KEY}
        chat:
          options:
            model: gemini-2.0-flash
            temperature: 0.1
